@font-face {
    font-family: "Kanit";
    src: url("Kanit-Regular.ttf");
  }
  body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 15% 0;
    background: #778591;
  }
  header {
    margin-top: 2em;
    padding: 1em 1em 2em 1em;
    text-align: center;
    
  }
  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  h1 {
        text-align: center;
        font-family: Kanit;
        font-weight: bold;
        color: #ddd1be;
        text-shadow: .1em .1em .2em gray;
  }
  h2 {
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: .25em;
    text-align: center;
    color: #634516;
  }

  p {
    text-align: center;
  }
  .fire{
    color: red;
  }
  .ice{
    color: blue;
  }
  .myth{
    color: orange
  }
  .storm{
    color: purple;
  }
  .life{
    color: green;
  }
  .death{
    color: gray;
  }
  .balance{
    color: rgb(134, 94, 19);
    font: strong;
  }
  
  footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    text-align: center;
    }
nav li {
 display: inline-block;
margin-right: 20px;}
 nav{
background-color: #252424;
border-radius: 5px;
}
a {
 text-decoration: none;
 }
a:link {             
color: #ddd1be;
font-family: Kanit;
font-size: 1.25em;
}
a:visited {
    color: #b1afac;
    font-family: Kanit;
    font-size: 1.25em;
}
a:hover {
                    
    color: #916929;
    background-color: white;
    font-family: Kanit;
    font-size: 1.25em;
}
a:active {           
    color: #ff9f06;
    font-family: Kanit;
    font-size: 1.25em;
} 